.points{
  text-align: center;
  color: #2eb82e;
  font-family: monospace;
  font-size: 21px;
  font-style: normal;
  font-weight: bold;
  line-height: 50%;
}
#ppp{
  text-align: center;
  color:#e60000;
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}
#over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
}
.link a{font-size: 31px;font-family:monospace; font-weight: bold}
.link a:link    {color:green;  text-decoration:underline}
.link a:visited {color:blue;  text-decoration:underline}
.link a:hover   {color:red;  text-decoration:underline}
.link a:active  {color:yellow; text-decoration:underline}
#ss{font-size: 31px;font-family:monospace; font-weight: bold}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.l2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.l2 a:hover {
    background-color: #111;
}
#active {
    background-color: #4CAF50;
}
.l2 {
    border-right: 1px solid #bbb;
    float: left;
}

.l2:last-child {
    border-right: none;
}
#footer
{
  text-align: center;
  bottom: 0;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}
